<div ng-include src="'views/partials/header.html'"></div>

<div class="container {{fixedHd}} {{fixedFt}} {{fixedHdFt}}">
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
   This is cartype page.
</div>

<div ng-include src="'views/partials/footer.html'"></div>
