<div ng-include src="'views/partials/header.html'"></div>

<div class="container {{fixedHd}} {{fixedFt}} {{fixedHdFt}}">
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
   This is serial page.
</div>

<div ng-include src="'views/partials/footer.html'"></div>
